In [2]:
import pandas as pd

s = pd.Series(['A', 'B', 'C', 'D', 'E'], index=[1,2,3,4,5])
s

1    A
2    B
3    C
4    D
5    E
dtype: object

In [16]:
dict = {'state':['Ohio', 'Ohio', 'Ohio', 'Tokyo', 'American'],
        'year':[2001,2002, 2002, 2001, 2000],'pop':[1.5, 1.6, 1.3, 1.9, 2.0]}
df = pd.DataFrame(dict, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five'])

In [17]:
df

       year     state  pop debt
one    2001      Ohio  1.5  NaN
two    2002      Ohio  1.6  NaN
three  2002      Ohio  1.3  NaN
four   2001     Tokyo  1.9  NaN
five   2000  American  2.0  NaN

In [34]:
df.iloc[[1]]

     year state  pop debt
two  2002  Ohio  1.6  NaN

**Refreshing Variable (Biến làm mới):**
 Được sử dụng để cập nhật giá trị của biến từ một truy vấn SQL hoặc một biểu thức.
 Ví dụ, bạn có thể sử dụng biến này để lấy giá trị từ một bảng dữ liệu và lưu trữ nó trong biến.
    `SELECT MAX(order_date) FROM orders;` 
    
**Declare Variable (Khai báo biến):**
    
 Được sử dụng để khai báo biến và thiết lập giá trị ban đầu của nó.
 Thường được sử dụng trong các kịch bản phức tạp, nơi biến cần được khởi tạo trước khi sử dụng trong các bước khác.
    
    `DECLARE v_order_date DATE;` 
    
**Set Variable (Thiết lập biến):**
    
 Được sử dụng để thiết lập hoặc cập nhật giá trị của biến.
 Bạn có thể sử dụng biểu thức hoặc giá trị cố định để thiết lập giá trị của biến.
    
    `SET v_order_date = '2023-01-01';` 
    
**Evaluate Variable (Đánh giá biến):**
    
 Được sử dụng để đánh giá điều kiện và quyết định luồng điều khiển dựa trên giá trị của biến.
 Thường được sử dụng trong các bước điều kiện (conditional steps) để kiểm tra giá trị của biến và quyết định bước tiếp theo.
    
    `IF v_order_date > '2023-01-01' THEN
       -- Execute some step
    END IF;` 
    
**Increment Variable (Tăng biến):**
    
 Được sử dụng để tăng giá trị của biến, thường được sử dụng trong các vòng lặp (loops).
 Biến này thường là số nguyên và được tăng lên một giá trị xác định trong mỗi lần lặp.
    
    `SET v_counter = v_counter + 1;` 
    
**Global Variable (Biến toàn cục):**
    
 Được sử dụng để lưu trữ giá trị có thể truy cập và sử dụng bởi bất kỳ thành phần nào trong ODI.
 Giá trị của biến toàn cục có thể được chia sẻ giữa các gói (packages) và kịch bản (scenarios).
    
    `v_global_variable = 'some_value';` 
    
**Session Variable (Biến phiên làm việc):**
    
 Được sử dụng để lưu trữ giá trị có hiệu lực trong suốt phiên làm việc của ODI.
 Biến này thường được sử dụng để lưu trữ thông tin phiên làm việc tạm thời.
    
    `v_session_variable = 'temporary_value';` 
    

Các biến này giúp kiểm soát luồng dữ liệu và thực hiện các tác vụ khác nhau trong ODI, từ việc làm mới dữ liệu đến quyết định luồng điều khiển dựa trên các điều kiện.